<h1 class="mt-4">Post</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ post.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()" >

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Post salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Título: *</label>
                    <input type="text" class="form-control" [(ngModel)]="post.titulo" name="titulo" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Texto: *</label>
                    <textarea class="form-control" [(ngModel)]="post.texto" name="texto" rows="5" cols="60" ></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Link:</label>
                    <input type="text" class="form-control" [(ngModel)]="post.link" name="link" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Imagem: *</label>
                    <input type="file" class="custom-file-input" id="customFile" 
                        [(ngModel)]="post.imagem" name="imagem"
                        (change)="onChange($event)" multiple
                        accept=".png, .jpg, .jpeg" />
                    <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar arquivo</label>
                    
                    <img class="img-responsive" width="500" height="500" *ngFor="let item of base64Image"  src="data:image/png;base64,{{item}}" alt="" id="img">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" *ngIf="!post.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="post.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="voltarParaLista()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
        </div>



    </form>
</div>